body{
  font-family: system-ui;
  background:#0f172a;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.app{
  width:600px;
  background:#1e293b;
  padding:20px;
  border-radius:15px;
}

h1{text-align:center}
.subtitle{text-align:center;color:#94a3b8}

.option{
  background:#334155;
  margin:8px 0;
  padding:10px;
  border-radius:10px;
  cursor:pointer;
}

.option:hover{background:#475569}

input{width:100%;padding:10px;margin-top:10px}

.controls{
  display:flex;
  justify-content:space-between;
  margin-top:15px;
}

button{
  padding:10px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

.hidden{display:none}
.option.selected {
  background: #f97316;
  color: #0f172a;
  font-weight: bold;
}

.progress {
  color: #94a3b8;
  font-size: 0.9rem;
}

.fallo {
  background: #334155;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}
